.componentContainer {
  border-bottom: 1px solid #c5cbd5;
  padding-bottom: 15px;
}

.pricesContainer {
  display: flex;
}

.price {
  font-weight: 700;
  font-size: 30px;
}

.returns {
  height: 48px;
  align-items: center;
  background: #f4f6f9;
  display: flex;
  flex-direction: row;
  margin: 8px 0;
  padding: 12px 8px;
}

.or, .suggested, .returns {
  font-weight: 300;
  font-size: 12px;
}

.or {
  align-self: center;
  margin: 17px;
}

.returns img {
  width: 30px;
  padding-right: 10px;
}

.monthly {
  font-weight: 700;
  font-size: 23px;
}

.showMeHow, .priceMatch{
  color: #0457c8;
  font-size: 11px;
  font-weight: 700;
  text-decoration: none;
}

.learnMore {
  color: #0457c8;
  text-decoration: none;
}

.priceMatch {
  background-image: url(https://bigbrain-itemdetails.s3-us-west-1.amazonaws.com/dollarsignpricematch.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  padding-left: 14.9px;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.textContainer h3, .textContainer p {
  margin: 0;
  padding: 2px;
}

.showMeHow:hover, .learnMore:hover {
  color: #001E73;
}

.modalContainer {
  height: 100%;
  width: 100%;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  z-index: 4;
  display: flex;
  max-height: 95vh;
}

.modal img {
  max-height: 100%;
  max-width: 100%;
}

.x {
  position: fixed;
  right: 15px;
  top: 10px;
  color: #0046BE;
}

.x:hover {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.popup {
  position: absolute;
  transform: translate(-107%, -8%);
  border: 1px solid #c5cbd5;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 30%);
  border-radius: 4px;
  z-index: 999;
  width: 320px;
  height: 480px;
}

.popupTriangle {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  right: -18px;
  top: 9%;
  transform: translateX(-50%) rotate(45deg);
  border-top: 2px solid #c5cbd5;
  border-right: 2px solid #c5cbd5;
  border-left: none;
  border-bottom: none;
  background-color: #FFF;
}

.popupX {
  position: fixed;
  right: 15px;
  top: 10px;
  color: #0046BE;
}

.popupX:hover {
  cursor: pointer;
}

.popupTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.dollarSignContainer {
  padding-right: 5px;
}

.dollarSignContainer img {
  height: 30px;
  width: 25px;
}

.pmg {
  font-size: 20px;
  color: #0046BE;
  padding: none;
}

.pmgParagraph {
  font-size: 13px;
  margin: 10px;
}

.seeDetails {
  color: #0046BE;
}

.seeDetails:hover {
  color: #001e73;
  cursor: pointer;
}
