version: 2.1
jobs:
  run_tests:
    docker:
      - image: circleci/node:10.23.0
    steps:
      - checkout
      - run:
          name: Install npm dependencies
          command: |
            npm install --save
      - run:
          name: Run Unit Tests
          command: |
            npm test
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results