.variationsContainer {
  height: 167px;
  border-bottom: 1px solid #c5cbd5;
  padding-bottom: 29px;
  padding-top: 10px;
}

.variationAndType {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.cardsSlider {
  position: relative;
  width: 100%;
  height: 126px;
  overflow: hidden;
  margin: 0 0;
}

.cardsSliderWrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  /* left: 30px; */
  transition-duration: 0.7s;
  position: relative;
}

.next, .prev {
  z-index: 1;
  position: absolute;
  height: 100%;
}

.next button, .prev button {
  width: 25px;
  padding: 0;
}

.next button:focus, .prev button:focus {
  outline: none;
}

.next button:hover, .prev button:hover {
  cursor: pointer;
}

.next {
  right: 0
}

.prev {
  left: 0
}

.nextButton, .prevButton {
  height: 100%;
  background-color: white;
  border: hidden;
  color:  #0457c8;
  font-size: 20px;
}

/* VariationItem */

.cardContainer {
  display: flex;
  height: 126px;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 5px;
  width: 76px;
  height: 116px;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.card:hover {
  border: 1px solid #0457c8;
  cursor: pointer;
}

.thumbnail {
  width: 58px;
  height: 64px;
}

.price {
  font-size: 13px;
  padding-top: 6px;
}

.selected {
  border: 2px solid black;
}

.selected:hover {
  border: 2px solid black;
  cursor: default;
}